<nav class="navbar navbar-expand-md navbar-light fixed-top text-black" style="background-color: white; border-bottom: 1px solid gray; " >
    <a class="navbar-brand" href="/">
        {% include 'includes/nav_logo.html' %}  
    </a>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 1.4rem;letter-spacing: 0.1rem">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item">
          <a class="nav-link" href="/introduction">Introduction <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/EDA">EDA</a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Model
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/model1">Classification Model</a>
              <a class="dropdown-item" href="/model2">Regression Model</a>
              
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About Us</a>
        </li>
      </ul>
      
    </div>
</nav>