{% extends 'layout.html' %}

{% block body %}
<div class="card border-light mb-3" style="background-color: #fafafa">
    <div class="card-body">

        <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
        <h2 class="card-title text-center">Group 6</h2>
        <hr>
        <p class="card-text">
            Help Wayfair to understand customer behavior, 
            they can interpret the behavior to improve their website using experiences. 
            Help Wayfair to classifier different customer, 
            so they can sent characterised notification(promotion) to the customer
        </p>
        <p class="card-text text-right"><small class="text-muted"> - Info 7390 ADS</small></p>
        
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Xinglong Jia</h5>
                    <hr>
                    <p class="card-text">Responsible for...</p>
                    <p class="card-text">Responsible for...</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Yinyin Ye</h5>
                    <hr>
                    <p class="card-text">Responsible for...</p>
                    <p class="card-text">Responsible for...</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Himanshu Gupta</h5>
                    <hr>
                    <p class="card-text">Responsible for...</p>
                    <p class="card-text">Responsible for...</p>
                </div>
            </div>
        </div>
    </div>
    
</div>

 
{% endblock %}