{% extends 'layout.html' %}

{% block body %}
<div class="card border-light mb-3" style="background-color: #fafafa">
    <div class="card-body">

        <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
        <h1 class="display-4 text-center title-effect">About Us</h1>
        <hr>    
        <p class="card-text">
            Help Wayfair to understand customer behavior, 
            they can interpret the behavior to improve their website using experiences. 
            Help Wayfair to classifier different customer, 
            so they can sent characterised notification(promotion) to the customer
        </p>
        <p class="card-text text-right"><small class="text-muted"> - Info 7390 ADS</small></p>
        
        <div class="row text-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Xinglong Jia</h5>
                        <p class="card-text">Computer Systems Engineering</p> 
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Himanshu Gupta</h5>
                    <p class="card-text">Data Analytics Engineering</p>
                </div>
                </div>
            </div>
        </div>

        <div class="row text-center" style="margin-top: 2rem">
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">YinYin Ye</h5>
                    <p class="card-text">Data Analytics Engineering</p>
                    
                </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
</div>

 
{% endblock %}