{% extends 'layout.html' %}

{% block body %}

<h1 class="display-4 text-center title-effect" >EDA</h1>
<hr>

<div class="jumbotron text-center shadow-effect" style=" background-color: white">
    <div class="row">
        <div class="col-sm-8" style="height:400px;">
            <img src="../static/images/eda1.png" class="img-fluid" alt="Responsive image"></src>
        </div>
        <div class="col-sm-4 lead text-overflow" style="line-height: 400px;">
            Stream with purchases/non-purchases
        </div>
    </div>
</div>

<div class="jumbotron text-center shadow-effect" style=" background-color: white">
    <div class="row">
        <div class="col-sm-8" style="height:400px;">
            <img src="../static/images/eda2.png" class="img-fluid" alt="Responsive image"></src>
        </div>
        <div class="col-sm-4 lead text-overflow" style="line-height: 400px;">Purchase time of constomers</div>
    </div>
</div>

<div class="jumbotron text-center shadow-effect" style=" background-color: white">
    <div class="row">
        <div class="col-sm-8" style="height:400px;">
            <img src="../static/images/eda3.png" class="img-fluid" alt="Responsive image"></src>
        </div>
        <div class="col-sm-4 lead text-overflow" style="line-height: 400px;">Buyer clicks in a week</div>
    </div>
</div>

<div class="jumbotron text-center shadow-effect" style=" background-color: white">
    <div class="row">
        <div class="col-sm-8" style="height:400px;">
            <img src="../static/images/eda4.png" class="img-fluid" alt="Responsive image"></src>
        </div>
        <div class="col-sm-4 lead text-overflow" style="line-height: 400px;">Page frequency visited by consumers</div>
    </div>
</div>

<div class="jumbotron text-center shadow-effect" style=" background-color: white">
    <div class="row">
        <div class="col-sm-8" style="height:400px;">
            <img src="../static/images/eda5.png" class="img-fluid" alt="Responsive image"></src>
        </div>
        <div class="col-sm-4 lead text-overflow" style="line-height: 400px;">Quantity ordered</div>
    </div>
</div>

<div class="jumbotron text-center shadow-effect" style=" background-color: white">
    <div class="row">
        <div class="col-sm-8" style="height:400px;">
            <img src="../static/images/eda6.png" class="img-fluid" alt="Responsive image"></src>
        </div>
        <div class="col-sm-4 lead text-overflow" style="line-height: 400px;">State wise quantity ordered</div>
    </div>
</div>

<div class="jumbotron text-center shadow-effect" style=" background-color: white">
    <div class="row">
        <div class="col-sm-8" style="height:400px;">
            <img src="../static/images/eda7.png" class="img-fluid" alt="Responsive image"></src>
        </div>
        <div class="col-sm-4 lead text-overflow" style="line-height: 400px;">sales category names and products on promotion</div>
    </div>
</div>

<div class="jumbotron text-center shadow-effect" style=" background-color: white">
    <div class="row">
        <div class="col-sm-8" style="height:400px;">
            <img src="../static/images/eda8.png" class="img-fluid" alt="Responsive image"></src>
        </div>
        <div class="col-sm-4 lead text-overflow" style="line-height: 400px;">Reviews vs sales</div>
    </div>
</div>

<div class="jumbotron text-center shadow-effect" style=" background-color: white">
    <div class="row">
        <div class="col-sm-8" style="height:400px;">
            <img src="../static/images/eda9.png" class="img-fluid" alt="Responsive image"></src>
        </div>
        <div class="col-sm-4 lead text-overflow" style="line-height: 400px;">Category sales</div>
    </div>
</div>

<div class="jumbotron text-center shadow-effect" style=" background-color: white">
    <div class="row">
        <div class="col-sm-6 lead text-overflow">
            Top 20 products from top 20 categories
        </div>
        <div class="col-sm-6 lead text-overflow">
            Top 20 products from entire categories
        </div>
    </div>
    <div class="row" style="margin-top:8%">
        <div class="col-sm-6" style="height:100%;">
            <img src="../static/images/eda10.png" class="img-fluid" alt="Responsive image"></src>
        </div>
        <div class="col-sm-6" style="height:100%;">
            <img src="../static/images/eda11.png" class="img-fluid" alt="Responsive image"></src>
        </div>
    </div>
    
</div>

{% endblock %}